html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Allerta Stencil", sans-serif;
}

h1{font-size: 6.4rem;}
h2{font-size: 4.8rem;}
h3{font-size: 3.6rem;}
h4{font-size: 2.4rem;}
h5{font-size: 2.0rem;}
h6{font-size: 1.8rem;}

input[type="text"] {
  font-size: 2rem ;
}

.btn { font-size: 1.4rem; }

.label--title {
  text-transform: uppercase;
  color: #f9f9f9;
}
.label--subtitle {
  font-family: "Satisfy", cursive;
  font-size: 1.6rem;
  color: #f9f9f9;
}

.font-allerta {
  font-family: "Allerta Stencil", sans-serif;
}

/* Utils. */
.text-center { text-align: center; }
.d-none { display: none !important; }
.uppercase { text-transform: uppercase !important; }
.bold { font-weight: 700 !important; }

/* Elements */
.preview-area__image {
  background: url(../img/template-plain.png) 50% 0 no-repeat;
  height: 600px;
  max-width: 400px;
  overflow: hidden;
  margin: 0 auto;
}

.label {
  position: relative;
  top: 165px;
  left: 93px;
  width: 214px;
  height: 220px;
  border-radius: 50%;
  /* background: rgba(45, 129, 255, .9); */
  background: linear-gradient(rgba(0, 4, 255, 0.4), rgba(0, 4, 255, 0.5)), url(../img/circle.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-wrap--right {
  border-left: 1px solid rgb(207, 207, 207);
}

@media screen and (max-width: 996px) {
  .input-wrap--right {
    border: none;
  }
}